.div-p {
  height: 14rem;
  padding: 0.24rem;
}
.div-p p {
  text-align: center;
  font-weight: bold;
  color: black;
}
.div-img {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.newClass {
  background: #ffcc9a;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.one-section {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
